@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: "Nanum Gothic";
}

.title-section{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #34495e;
    /*virtical-align: bottom;*/
}

.logo-font{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 32px;
}

.page-section{
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.more-page-section{
    width: 100%;
    height: auto;
}

.button-section{
    width: 200px;
    height: 100px;
    padding-top: 10px;
    /*position: static;*/
    float: right;
}

.withwho-section{
    width: auto;
    height: 200px;
    margin-top: 50px;
    margin-left: 270px;
    text-align: right;
    font-size: large;
    position: static;
}

.station-section{
    width: 400px;
    height: 60px;
    padding-top: 15px;
    float:left;
    text-align: right;
    font-size: 40px;
    text-decoration:underline;
    text-indent:30%;

}

.text-section{
    width: 250px;
    height: 100px;
    padding-top: 15px;
    float:left;
    font-size: 40px;

}

.like-value-section{
    width: 70px;
    height: 50px;
    float: left;
    text-align: center;
    margin-top: 75px;
    font-size: x-large;
}

.withwho-first{
    width: auto;
    height: auto;
    float: left;
}

.withwho-second{
    width: auto;
    height: auto;
    float: left;
}

.withwho-third{
    width: auto;
    height: auto;
    float: left;
}

input.like{
    background-image: url("plus.png");
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-top: 25px;
    float: left;
}

.goback{
    width: 200px;
    height: 50px;
    margin-right: 35px;
    float: left;
    text-align: right;
    color: #999999;
    text-decoration-color: #999999;
}

.category-section{
    width: 100%;
    height: 50px;
    margin-left: 20px;
}

.category{
    /*font-size: x-large;*/
    font-size : 40px;
    width: auto;
    margin-right: 30px;
    /*margin-bottom: 5px;*/
}

.title-font{
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Acme', sans-serif;
    text-size: 80px;
    margin-left:5px;

}