@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: "Nanum Gothic";
}

.page-section{
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.more-page-section{
    width: 100%;
    height: auto;
}

.title-section{
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: white;
}

.button-section{
    width: 200px;
    height: 100px;
    padding-top: 10px;
    position: static;
    float: left;
}

.withwho-section{
    width: auto;
    height: 200px;
    margin-top: 50px;
    margin-left: 270px;
    text-align: right;
    font-size: large;
    position: static;
}

.station-section{
    width: 350px;
    height: 100px;
    padding-top: 5px;
    float:left;
    text-align: right;
    font-size: x-large;
}

.text-section{
    width: 250px;
    height: 100px;
    padding-top: 5px;
    float:left;
    font-size: x-large;
}

.like-value-section{
    width: 70px;
    height: 50px;
    float: left;
    text-align: center;
    margin-top: 75px;
    font-size: x-large;
}

.withwho-first{
    width: auto;
    height: auto;
    float: left;
}

.withwho-second{
    width: auto;
    height: auto;
    float: left;
}

.withwho-third{
    width: auto;
    height: auto;
    float: left;
}

input.like{
    background-image: url("plus.png");
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-top: 25px;
    float: left;
}

.goback{
    width: 200px;
    height: 50px;
    margin-right: 35px;
    float: left;
    text-align: right;
    color: #999999;
    text-decoration-color: #999999;
}

.category-section{
    width: 100%;
    height: 50px;
    margin-left: 20px;
}

.category{
    font-size: x-large;
    width: auto;
    margin-right: 30px;
    margin-bottom: 15px;
}