@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    font-family: "Nanum Gothic";
}

.page-section{
    height: 650px;
    padding-top: 50px;
}

.title-section{
    /*width: 1400px;*/
    height: 70px;
    position: static;
    padding-top: 25px;
    margin-bottom: 50px;
}

.button-section{
    width: 200px;
    height: 100px;
    padding-top: 10px;
    position: static;
    float: left;
}

.withwho-section{
    width: 500px;
    height: 100px;
    position: static;
    padding-top: 10px;
    float: left;
    font-size: smaller;
}

.station-section{
    width: 350px;
    height: 100px;
    float:left;
    text-align: right;
    font-size: xx-large;
}

.text-section{
    width: 250px;
    height: 100px;
    float:left;
    font-size: xx-large;
}

.like-value-section{
    width: 70px;
    height: 50px;
    float: left;
    text-align: center;
    margin-top: 75px;
    font-size: x-large;
}

.withwho-first{
    width: 200px;
    height: 100px;
    float: left;
    text-align: right;
}

.withwho-second{
    width: 50px;
    height: 100px;
    float: left;
    text-align: center;
}

.withwho-third{
    width: 200px;
    height: 100px;
    float: left;
}

input.like{
    background-image: url("plus.png");
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-top: 25px;
    float: left;
}

.goback{
    width: 200px;
    height: 50px;
    margin-right: 35px;
    float: left;
    text-align: right;
}

.category{
    font-size: x-large;
    margin-left: 20px;
    margin-bottom: 15px;
}