.insta-text{font-family: 'Noto Serif KR', serif;}
.formal2-text{font-family: 'Nanum Myeongjo', serif;}
.formal-text{font-family: 'Nanum Gothic', sans-serif;}
.thick-text{font-family: 'Do Hyeon', sans-serif;}