@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

.postLine{
    width: 90%;
    height: 600px;
    position: static;
    margin-top: 50px;
    margin-left: 30px;
    float: left;
}

.morePostLine{
    max-width: 100%;
    height: 600px;
    position: static;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

.insmain{
    width: 250px;
    height: 600px;
    text-align: center;
    margin-right: 15px;
}

.youtmain{
    width: 450px;
    height: 600px;
    text-align: center;
}

.inspic{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding : 1px 1px 1px 1px;
    background-image: linear-gradient(#594BC2, #6A3AB2, #A23B92, #C93E74, #D84C5A, #E66A3E, #EE8941, #F5C364);
    -webkit-background-clip: border;
    background-position: center center;
    background-size: cover;
}

.inspic-section{
    padding-top: 2px;
    background-color: transparent;
    width: 196px;
    height: 196px;
}

.youtpic{
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 5px;
    padding : 1px 1px 1px 1px;
    background-color: #CC3D32;
    background-position: center center;
    background-size: cover;
}

.youtpic-section{
    padding-top: 2px;
    background-color: transparent;
    width: 396px;
    height: 196px;
}

.ins-body{
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 250px;
    width: 250px;
}

.yout-body{
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 250px;
    width: 450px;
}

.ins-text{
    width: 250px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    overflow: hidden;
}

.yout-text{
    width: 450px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.text-date{
    font-size: 80%;
    font-weight: 400;
    top: 0;
    right: 0;
    text-align: center;
}

.yout-title{
    width: 450px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-weight: 600;
}

.morePost{
    width: 65px;
    height: 600px;
    float: left;
    position: static;
    line-height: 600px;
    overflow: hidden;
}

input.morePost{
    background-color: Transparent;
    background-image: url("plus.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 65px;
    height: 65px;
    margin-top: 200px;
    border: none;
}

.topPlace{
    width: 200px;
    float: left;
    position: static;
    margin-top: 5px;
    margin-left: 5px;
}



