.postLine{
    width: 1250px;
    height: 500px;
    position: static;
    margin-left: 10px;
    float: left;
}

.insmain{
    width: 250px;
    height: 500px;
    text-align: center;
    margin-right: 15px;
}

.youtmain{
    width: 450px;
    height: 500px;
    text-align: center;
}

.inspic{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding : 1px 1px 1px 1px;
    background-image: linear-gradient(#594BC2, #6A3AB2, #A23B92, #C93E74, #D84C5A, #E66A3E, #EE8941, #F5C364);
    -webkit-background-clip: border;
    background-position: center center;
    background-size: cover;
}

/*.inspic-section{*/    /* 사진 넣을 때 확인 */
/*    background-color: white;*/
/*    position: absolute; top:0; left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.youtpic{
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 5px;
    padding : 1px 1px 1px 1px;
    background-color: #CC3D32;
    background-position: center center;
    background-size: cover;
}

/*.youtpic-section{*/
/*    background-color: white;*/
/*    position: absolute; top:0; left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.ins-body{
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 250px;
    width: 250px;
}

.yout-body{
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 250px;
    width: 450px;
}

.ins-text{
    width: 250px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.yout-text{
    width: 450px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.text-date{
    font-size: 80%;
    font-weight: 400;
    top: 0;
    right: 0;
    text-align: center;
}

.yout-title{
    width: 450px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-weight: 600;
}

.morePost{
    width: 100px;
    height: 600px;
    float: left;
    position: static;
    line-height: 600px;
}

input.morePost{
    background: url("src/main/web/WEB-INF/views/img/plus.png") no-repeat;
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-top: 200px;
}



