<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="10;url=/">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Text Opening Sequence with CSS Animations" />
    <meta name="keywords" content="text, opening sequence, opening credits, css animations, typography, lettering.js" />
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <script src="/static/js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/jquery.lettering.js"></script>
    <script src="/static/js/load.js"></script>
    <title>Welcome to Pllabel</title>
</head>
<body>
    <div class="container">
        <div class="os-phrases" id="os-phrases">
            <h2>Place & Your Life Ballence</h2>
            <h2><p style="font-size : 200000px;">PLLABEL</p></h2>
        </div>
    </div>
</body>
</html>