<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head layout:fragment="content">
    <meta charset="UTF-8">
    <script src="/static/js/postFrame.js"></script>
    <script src="/static/js/scrollAnim.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/etcFrame.css">
    <link rel="stylesheet" type="text/css" href="/static/css/postFrame.css">
    <title>More post</title>
</head>
<body>
    <header class="title-section">
        <div class="station-section">더보기 페이지</div>
        <div class="button-section" style="margin-left: 600px;">
            <a class="goback" href="javascript:history.go(-1);">이전 화면으로</a>
        </div>
    </header>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var moreplace = /*[[${morePost}]]*/;
        /*]]>*/
        morePost(moreplace);
    </script>
</body>
</html>